body {
    padding: 0;
    margin: 0;
}
.container {
    display: grid; 
    grid-template-columns: repeat(11, 1fr); 
    grid-template-rows: 5vh 70vh auto;
    gap: 12px 12px;
    padding: 48px;
  }
  .header {
      grid-area: 1 / 1 / 2 / 12;
      display: flex;
      height: fit-content;
      align-items: baseline;
    }
  .content { grid-area: 2 / 3 / 4 / 7; }
  .viewer { grid-area: 2 / 8 / 4 / 11; }

  .pm-0 {
      padding: 0;
      margin: 0;
  }
